@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="stylesheet" href="/CSS/PageNavigation.css" type="text/css">
    <link rel="stylesheet" href="/CSS/InquireNowStyle.css" type="text/css">
    <title>VERTECH - Inquire Now</title>
</head>
<body>
    <nav>
        <div class="NavigationBar">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                <li><a href="@Url.Action("ShopNow", "Shop")">SHOP TECH</a></li>
                <li><a href="@Url.Action("AboutUs", "Home")">ABOUT</a></li>
            </ul>
        </div>
    </nav>
    <div class="InquireNowOverlay">
        <h1>INQUIRE NOW</h1>
        <form method="post" action="/Inquiries/InquireData">
            <label for="1">First Name:</label>
            <input type="text" id="1" required class="fn" name="firstName"/><br />
            <label for="2">Last Name:</label>
            <input type="text" id="2" required class="fn" name="lastName"/><br />
            <label for="3">Email:</label>
            <input type="email" id="3" required class="efield" name="userEmail"/><br />
            <label for="4">Product Name:</label>
            <input type="text" id="4" class="PN" readonly name="productName" value="@ViewBag.ProductName"/><br />
            <label for="5">Price:</label>
            <input type="text" id="5" class="P" readonly name="productPrice" value="@ViewBag.ProductPrice"/><br />
            <label for="6">Message:</label>
            <textarea required maxlength="300" resize=none; id="6" class="msgBox" name="userMsg"></textarea><br />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>